<div class="navbar">
  <div class="container">
    <div>
      <h3><%= link_to 'Wikinimous', root_path %></h3>
    </div>
    <div>
      <h4><%= link_to 'New Article', new_article_path %></h4>
    </div>
  </div>
  </ul>
</div>
