<div class="articles-list">
  <% @articles.each do |article| %>
    <ul class='article-header'>
      <li>
      <h2><%= link_to article.title, article_path(article.id) %></h2>
      <h4><%= article.content %></h4>
      </li>
    </ul>
<% end %>
</div>
